.marquee {
  background: #F54932;
  color: #fff;
  display: flex;
  font: 22px 'MerriweatherRegular', 'Times New Roman', serif;
  /* gap: 12px; */
  max-width: 1920px;
  overflow: hidden;
  padding: 19px 0;
  text-transform: uppercase;
  width: 100%;
}

@media screen and (max-width: 375px) {
  .marquee {
    font-size: 16px;
    padding: 11px 0;
  }
}
