.stages__item {
  background-image: image-set(
    url('../../../images/stages/stages-bg@1x.webp') type('image/webp') 1x,
    url('../../../images/stages/stages-bg@2x.webp') type('image/webp') 2x,
    url('../../../images/stages/stages-bg@1x.png') type('image/png') 1x,
    url('../../../images/stages/stages-bg@2x.png') type('image/png') 2x
  );
  background-position: center center;
  box-sizing: border-box;
  padding: 5% 5% 5% 18.4%;
  position: relative;
  font-size: calc(1vw + 6.4px);
}

.stages__item:last-child {
  padding: 2.6% 40% 2% 9%;
}

.stages__item::before {
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  content: counter(myCounter);
  counter-increment: myCounter;
  display: flex;
  font: calc(1vw + 5px) 'GolosTextSemibold', Arial, sans-serif;
  height: 2.72vw;
  justify-content: center;
  left: 5%;
  position: absolute;
  top: 19px;
  width: 2.72vw;
}

.stages__item:last-child::before {
  left: 2.4%;
}

@media screen and (max-width: 375px) {
  .stages__item {
    font-size: 18px;
    width: auto;
    height: auto;
  }

  .stages__item::before {
    font-size: calc(1vw + 15px);
    height: 9vw;
    left: 6.5%;
    top: 62px;
    width: 9vw;
  }
}
