.members {
  color: var(--primaryColor);
  display: grid;
  font: 20px 'GolosTextRegular', Arial, sans-serif;
  grid-template-columns: 85% 15%;
  line-height: 1.2;
  margin-bottom: 126px;
  padding-top: 105px;
  row-gap: 58px;
}

@media screen and (max-width: 768px) {
  .members {
    grid-template-columns: repeat(1, 100%);
    margin-bottom: 120px;
    padding-top: 82px;
    row-gap: 50px;
  }
}

@media screen and (max-width: 375px) {
  .members {
    margin-bottom: 102px;
    padding-top: 62px;
    row-gap: 38px;
  }
}
