.members {
  color: var(--primaryColor);
  display: grid;
  font: 20px 'GolosTextRegular', Arial, sans-serif;
  grid-template-columns: 85% 15%;
  line-height: 1.2;
  margin-bottom: 140px;
  padding-top: 105px;
  row-gap: 62px;
}

@media screen and (max-width: 375px) {
  .members {
    grid-template-columns: repeat(1, 100%);
    margin-bottom: 101px;
    padding-top: 62px;
    row-gap: 38px;
  }
}

