.button_type_black {
  background: var(--primaryButtonColor);
  color: #fff;
}

.button_type_black:hover {
  background: var(--secondaryButtonColor);
  border-color: var(--secondaryButtonColor);
  color: var(--primaryButtonColor);
}
