.title {
  color: var(--primaryColor);
  font: 54px 'MerriweatherRegular', 'Times New Roman', serif;
  margin: 0;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 44px;
  }
}

@media screen and (max-width: 430px) {
  .title {
    font-size: 36px;
  }
}
