.marquee__list_scroll_left {
  animation: scrollFromRightToLeft 20s linear infinite;
}

@keyframes scrollFromRightToLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
