.stages__list {
  counter-reset: myCounter;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .stages__list {
    gap: 0;
    grid-template-columns: repeat(5, 100%);
    position: relative;
  }
}
