.marquee__item {
  align-items: center;
  display: flex;
  gap: 12px;
  box-sizing: border-box;
}

.marquee__item::after {
  background: #fff;
  border-radius: 50%;
  content: '';
  height: 6px;
  width: 6px;
}

.marquee__item:first-child {
  padding-left: 12px;
}
