.stages__subtitle {
  color: var(--tertiaryColor);
  display: inline-block;
  font: 20px 'GolosTextRegular', Arial, sans-serif;
  left: 6px;
  max-width: 280px;
  position: relative;
  text-transform: none;
  top: -2.5px;
}

@media screen and (max-width: 375px) {
  .stages__subtitle {
    letter-spacing: -1.2px;
    margin-left: -6px;
    margin-top: 11px;
    max-width: none;
    width: 100%;
  }
}
