.support__image-wrapper {
  max-width: 394px;
  width: 100%;
  position: relative;
  padding-bottom: 63.45%;
}

@media screen and (max-width: 768px) {
  .support__image-wrapper {
    max-width: none;
  }
}
