.intro {
  background-color: var(--bgColor);
  color: var(--primaryColor);
  font: 18px 'GolosTextRegular', Arial, sans-serif;
  overflow: hidden;
  padding-top: 26px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .intro {
    padding-top: 22px;
  }
}

@media screen and (max-width: 375px) {
  .intro {
    padding-top: 18px;
  }
}
