.intro {
  background: image-set(
    url('../../images/intro/intro-bg@1x.webp') type('image/webp') 1x,
    url('../../images/intro/intro-bg@2x.webp') type('image/webp') 2x,
    url('../../images/intro/intro-bg@1x.png') type('image/png') 1x,
    url('../../images/intro/intro-bg@2x.png') type('image/png') 2x
  ) center top;
  color: var(--primaryColor);
  font: 18px 'GolosTextRegular', Arial, sans-serif;
  padding-top: 26px;
}
