.support__container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

@media screen and (max-width: 768px) {
  .support__container {
    flex-direction: column;
    gap: 27px;
  }
}

@media screen and (max-width: 375px) {
  .support__container {
    gap: 25px;
  }
}
