.play {
  color: var(--primaryColor);
  font: 20px 'GolosTextRegular', Arial, sans-serif;
  padding-top: 5px;
  margin-bottom: 87px;
}

@media screen and (max-width: 768px) {
  .play {
    margin-bottom: 58px;
    padding-top: 23px;
  }
}

@media screen and (max-width: 375px) {
  .play {
    margin-bottom: 30px;
    padding-top: 41px;
  }
}
