.intro__background-img {
  bottom: 4%;
  position: absolute;
  right: -18%;
  z-index: 10;
}

@media screen and (max-width: 375px) {
  .intro__background-img {
    bottom: -21%;
    right: -5.2%;
    transform: scale(.51);
  }
}
