.stages {
  align-items: center;
  color: var(--primaryColor);
  display: flex;
  flex-direction: column;
  font: 20px 'GolosTextMedium', Arial, sans-serif;
  line-height: 1.2;
  margin-bottom: 105px;
  padding-top: 87px;
}

@media screen and (max-width: 768px) {
  .stages {
    padding-top: 90px;
  }
}

@media screen and (max-width: 375px) {
  .stages {
    margin-bottom: 62px;
    padding-top: 93px;
  }
}
