.intro__title {
  font-size: 60px;
  line-height: 1.1;
  margin-bottom: 22px;
}

@media screen and (max-width: 768px) {
  .intro__title {
    font-size: 48px;
  }
}

@media screen and (max-width: 375px) {
  .intro__title {
    font-size: 36px;
  }
}
